<h1 id="title">Books Inventory</h1>
<header>
    <div class="header">
        <nav>
            <ul>
                <li><a id="home" href="#">Home</a></li>
                <li><a id="books"(click)="books()">Books</a></li>
                <li><a id="Contact" href="#">Contact</a></li>
                <li><a id="add" href="#">Add Book</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- <footer>
    <div class="footer">
        <p>&#169; CyberArk Private Ltd.</p>
    </div>
</footer> -->